*.~*~

crcl/schemas/*.lex
crcl/schemas/*.y
crcl/schemas/*.cc
crcl/schemas/*.hh

crcl/CMakeCache.txt
crcl/CMakeFiles/
crcl/CTestTestfile.cmake
crcl/Makefile
crcl/catkin/
crcl/catkin_generated/
crcl/cmake_install.cmake
crcl/devel/
crcl/gtest/

xml_parser_generator/CMakeCache.txt
xml_parser_generator/CMakeFiles/
xml_parser_generator/CTestTestfile.cmake
xml_parser_generator/Makefile
xml_parser_generator/catkin/
xml_parser_generator/catkin_generated/
xml_parser_generator/cmake_install.cmake
xml_parser_generator/devel/
xml_parser_generator/gtest/
/tools/java/crcl4java/crcl4java-fanuc/target/
/tools/java/crcl4java/examples/javascript/nodejs/node_modules/
/tools/java/crcl4java/examples/javascript/nodejs/build
*.jar
*.jar.1
*.jar.2
java_home
jvm_lib_dir
.vs
private.xml
*.VC.db





/tools/java/crcl4java/crcl4java-restful-proxy/target/
/tools/java/crcl4java/mavenproject2/target/
/tools/java/crcl4java/java2slice/target/
/tools/java/crcl4java/java2slice/nbproject/
/tools/java/crcl4java/java2slice-testinlib/target/
/tools/java/crcl4java/java2slice/java2slice-testoutlib/target/
/tools/java/crcl4java/java2slice-testserver/target/
/tools/java/crcl4java/java2slice-testclient/target/
/tools/java/crcl4java/JavaApplication26/nbproject/private/
/tools/java/crcl4java/iceinstaller/target/
/tools/java/crcl4java/ice-testserver/target/
/tools/java/crcl4java/ice-testinlib/target/
/tools/java/crcl4java/java2slice/ice-testoutlib/target/
/tools/java/crcl4java/ice-testclient/target/
/tools/java/crcl4java/ice-testoutlib/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/ice-testclient/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/ice-testinlib/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/ice-testoutlib/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/ice-testserver/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/iceinstaller/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/java2slice/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/java2slice/nbproject/
/tools/java/crcl4java/crcl4java-zeroc-ice/java2slice-maven-plugin/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/crcl4java-zeroc-ice-baselib/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/crcl4java-zeroc-ice-server/target/
/tools/java/crcl4java/crcl4java-zeroc-ice/crcl4java-zeroc-ice-client/target/
/.gnupg/
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/build/
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/dist/
/tools/java/crcl4java/crcl4java-motoman/target/

/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Makefile-Debug.mk
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Makefile-variables.mk
/tools/java/crcl4java/crcl4java-motoman/NetBeansProjects/MotoPlusTcpSvr/nbproject/Package-Debug.bash

/tools/java/crcl4java/crcl4java-zeroc-ice/target/
/tools/java/crcl4java/crcl4java-ui/run.bat
/tools/java/crcl4java/crcl4java-ui/setCrclUiEnvVars.sh
/tools/java/crcl4java/crcl4java-vaadin-webapp/src/main/webapp/VAADIN/themes/default_theme/addons.scss
tools/java/crcl4java/crcl4java-ui/run.bat
tools/java/crcl4java/crcl4java-ui/setCrclUiEnvVars.sh



/tools/java/crcl4java/examples/C++/NetBeansProjects/crclGenerated/build/
/tools/java/crcl4java/examples/C++/NetBeansProjects/crclGenerated/dist/
/tools/java/crcl4java/ATINetFT_proxy/target/
/tools/java/crcl4java/ForceTorqueSensorSimulator/target/
/tools/java/crcl4java/copier-maven-plugin/target/
/tools/java/crcl4java/crclcopier/target/
/tools/java/crcl4java/generate-copier-maven-plugin/target/
xsd_gen/target/
xsd_gen/test_generated/target/
target/
.claude/
Cargo.lock
crcl_python/__pycache__/

# Python XSD generation
crcl_python/__pycache__/
.xsdata.xml

# Test output
test_messages/
joint_statuses.json
